################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MurtazaAssignement/obj/Debug
/.vs/MurtazaAssignement/v16/Server/sqlite3
/.vs/MurtazaAssignement/v16
/MurtazaAssignement/bin/Debug
/bin/
